<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube</title>
    <link rel="icon" type="icon/img" href="/icon/icon-0.png" sizes="32x32">
    <link rel="stylesheet" href="/ytb.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="outer-main">
        <header>
            <div class="start">
                <img src="/icon/icon-4.png" alt="icon">
                <img src="/icon/icon-youtube.png" alt="icon">
            </div>
            <div class="center">
                <form action>
                    <input type="text" placeholder="Tìm kiếm">
                </form>
                <span class="keyboard"></span>
                <button class="search">
                    <img src="/icon/icon-1.png" alt="icon search">
                </button>
            </div>
            <div class="end">
                <img src="/icon/icon-2.png" alt="icon">
                <img src="/icon/icon-3.png" alt="icon">
                <img src="/icon/icon-6.png" alt="icon">
                <img src="https://yt3.ggpht.com/a-/AOh14GiFEZuatzvm7rs3a5Ch22e-34r6qjeLxPIi774o=s88-c-k-c0xffffffff-no-rj-mo" alt="icon" style="border-radius: 50%;">
                <div class="avatar"></div>
            </div>
        </header>
        <div class="menu-bar">
            <ul>
                <li class="active">
                    <span class="img">
                        <img src="./icon/icon-side-01.png" alt="icon">
                    </span>
                    <span class="text">Trang chủ</span>
                </li>
                <li>
                    <span class="img">
                        <img src="./icon/icon-side-02.png" alt="icon">
                    </span>
                    <span class="text">Thịnh hành</span>
                </li>
                <li>
                    <span class="img">
                        <img src="./icon/icon-side-03.png" alt="icon">
                    </span>
                    <span class="text">Kênh đăng ký</span>
                </li>
                <hr class="space-menu-bar">
                <li>
                    <span class="img">
                        <img src="./icon/icon-side-04.png" alt="icon">
                    </span>
                    <span class="text">Thư viện</span>
                </li>
                <li>
                    <span class="img">
                        <img src="./icon/icon-side-05.png" alt="icon">
                    </span>
                    <span class="text">Lịch sử</span>
                </li>
                <li>
                    <span class="img">
                        <img src="./icon/icon-side-06.png" alt="icon">
                    </span>
                    <span class="text">Video của bạn</span>
                </li>
                <li>
                    <span class="img">
                        <img src="./icon/icon-side-07.png" alt="icon">
                    </span>
                    <span class="text">Xem sau</span>
                </li>
                <li>
                    <span class="img">
                        <img src="./icon/icon-side-08.png" alt="icon">
                    </span>
                    <span class="text">Video đã thích</span>
                </li>
                <hr class="space-menu-bar">
                <h3>KÊNH ĐĂNG KÝ</h3>
                <li>
                    <span class="img">
                        <img src="https://yt3.ggpht.com/a/AATXAJwf6T7j6slQZP3nU_cz50LMNG33anEZ9bBKFw=s88-c-k-c0xffffffff-no-rj-mo" alt="icon">
                    </span>
                    <span class="text">F8 Official</span>
                </li>
                <li>
                    <span class="img">
                        <img src="https://yt3.ggpht.com/a/AATXAJxTGURBWb6UN43sD9O-2J_RfJszdO6oM3zTfA=s88-c-k-c0xffffffff-no-rj-mo" alt="icon">
                    </span>
                    <span class="text">201Show</span>
                </li>
                <li>
                    <span class="img">
                        <img src="https://yt3.ggpht.com/a/AATXAJzYA-YS_jMujgSSPNCwOXYql4_CMh-zVwpiCQ=s88-c-k-c0xffffffff-no-rj-mo" alt="icon">
                    </span>
                    <span class="text">102Productions</span>
                </li>
                <li>
                    <span class="img">
                        <img src="https://yt3.ggpht.com/a/AATXAJza_tPbxAqj6UuYxETkQW9ybmlE68AQLfySUw=s88-c-k-c0xffffffff-no-rj-mo" alt="icon">
                    </span>
                    <span class="text">Brick Builder Creations</span>
                </li>
                <li>
                    <span class="img">
                        <img src="https://yt3.ggpht.com/a/AATXAJwnPVFq5VPhoRybLDwPCG5WlKHe2ug3F68dSw=s88-c-k-c0xffffffff-no-rj-mo" alt="icon">
                    </span>
                    <span class="text">WeTV VietNam</span>
                </li>
                <hr class="space-menu-bar">
                <h3>DỊCH VỤ KHÁC CỦA YOUTUBE</h3>
                <li>
                    <span class="img">
                        <img src="./icon/icon-side-09.png" alt="icon">
                    </span>
                    <span class="text">Trò chơi</span>
                </li>
                <li>
                    <span class="img">
                        <img src="./icon/icon-side-10.png" alt="icon">
                    </span>
                    <span class="text">Sự kiện trực tiếp</span>
                </li>
                <hr class="space-menu-bar">
                <li>
                    <span class="img">
                        <img src="./icon/icon-side-11.png" alt="icon">
                    </span>
                    <span class="text">Cài đặt</span>
                </li>
                <li>
                    <span class="img">
                        <img src="./icon/icon-side-12.png" alt="icon">
                    </span>
                    <span class="text">Lịch sử báo cáo</span>
                </li>
                <li>
                    <span class="img">
                        <img src="./icon/icon-side-13.png" alt="icon">
                    </span>
                    <span class="text">Trợ giúp</span>
                </li>
                <li>
                    <span class="img">
                        <img src="./icon/icon-side-14.png" alt="icon">
                    </span>
                    <span class="text">Gửi phản hồi</span>
                </li>
                <hr class="space-menu-bar">
                <div class="footer-menu-bar">
                    <span>Giới thiệu</span>
                    <span>Báo chí</span>
                    <span>Bản quyền</span>
                    <span>Liên hệ với chúng tôi</span>
                    <span>Người sáng tạo</span>
                    <span>Quảng cáo</span>
                    <br><br>
                    <span>Điều khoản</span>
                    <span>Quyền riêng tư</span>
                    <span>Chính sách và an toàn</span>
                    <span>Thử các tính năng mới</span>
                    <br><br>
                    <span style="padding-bottom: 15px; font-size: 14px;"> &copy; 2020 Google LLC</span>
                </div>
            </ul>
        </div>
        <section>
            <div class="main-content">
                <div class="section-offer">
                    <div class="container">
                        <form action="/new-todo" method="POST">
                            <input type="text" name="link" placeholder="link">
                            <input type="text" name="img" placeholder="img">
                            <input type="text" name="title" placeholder="title">
                            <input type="text" name="chanel" placeholder="chanel">
                            <input type="text" name="view" placeholder="view">
                            <button type=" submit ">Thêm Video</button>
                        </form>

                        <form action="/delete-todo" method="POST">
                            <input type="text" name="link" placeholder="link">
                            <input type="text" name="title" placeholder="title">
                            <button type="submit">Xóa Video</button>
                        </form>

                        <form action="/fix-todo" method="POST">
                            <input type="text" name="title" placeholder="title">
                            <input type="text" name="newtitle" placeholder="new title">
                            <input type="text" name="link" placeholder="link">
                            <input type="text" name="newlink" placeholder="new link">
                            <input type="text" name="img" placeholder="img">
                            <input type="text" name="newimg" placeholder="new img">
                            <input type="text" name="chanel" placeholder="chanel">
                            <input type="text" name="newchanel" placeholder="new chanel">
                            <input type="text" name="view" placeholder="view">
                            <input type="text" name="newview" placeholder="new view">
                            <button type="submit">Fix</button>
                        </form>
                        <h1>Đề xuất</h1>
                        <div class="row Range">
                            <div class="col-md-3">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/vNeilgKZTFU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="content">
                                    <div class="icon-avatar">
                                        <img src="https://yt3.ggpht.com/a/AATXAJwFD7dMr1R16B6HQYmqFLTKlIFrJcFnHgXwKw=s88-c-k-c0xffffffff-no-rj-mo" alt="avatar">
                                    </div>
                                    <div class="text">
                                        <h2>Hỏi Xiên Đáp Xẹo Tập 24|Xuân Bắc & Giáo Sư Xoay "Rụng Rời" Khi Biết Được Sự Thật Của "Bắc Kim Thang"</h2>
                                        <span class="verified">XUÂN BẮC OFFICIAL</span><br>
                                        <span>38.185 lượt xem • Đã công chiếu vào 29 thg 5, 2020</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/acK6Lvy_8Sc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="content">
                                    <div class="icon-avatar">
                                        <img src="https://yt3.ggpht.com/a/AATXAJwdJ0la2GpUdgIHC6pcX-LbtBhinFFL6BSB-A=s88-c-k-c0xffffffff-no-rj-mo" alt="avatar">
                                    </div>
                                    <div class="text">
                                        <h2>[S8] Doraemon Tập 376 - Nhà Vô Địch Trò Chơi Thắt Dây Của Toàn Thế Giới - Hoạt Hình Tiếng Việt</h2>
                                        <span class="verified">POPS Kids</span><br>
                                        <span>6.733.980 lượt xem • Đã công chiếu vào 11 thg 5, 2020</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/YWTR7czeKGE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="content">
                                    <div class="icon-avatar">
                                        <img src="https://yt3.ggpht.com/a/AATXAJyq3t-PgCScNBTO5Vln1I9y1bJHpCrSaS7lqg=s88-c-k-c0xffffffff-no-rj-mo" alt="avatar">
                                    </div>
                                    <div class="text">
                                        <h2>Mộ Vương Chi Vương | Phần 2: Hàn Thiết Đấu | Tập 17 | Vietsub Full HD</h2>
                                        <span class="verified">201 Films - Phim Thiếu Nhi</span><br>
                                        <span>21.237 lượt xem • Đã công chiếu vào 24 thg 10, 2019</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/l8DAs9rVIWc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="content">
                                    <div class="icon-avatar">
                                        <img src="https://yt3.ggpht.com/a/AATXAJxs_HvhwR69jpRGMqNnNktGs-Qvlzb4lSUInw=s88-c-k-c0xffffffff-no-rj-mo" alt="avatar">
                                    </div>
                                    <div class="text">
                                        <h2>Phim Võ Thuật Vịnh Xuân: DIỆP VẤN 3 (Full HD Thuyết Minh)</h2>
                                        <span class="verified">Like Movies</span><br>
                                        <span>2.142.732 lượt xem • Đã công chiếu vào 22 thg 5, 2020</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row Range">
                            <div class="col-md-3">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/reBQinsPgD0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="content">
                                    <div class="icon-avatar">
                                        <img src="https://yt3.ggpht.com/a/AATXAJwnPVFq5VPhoRybLDwPCG5WlKHe2ug3F68dSw=s88-c-k-c0xffffffff-no-rj-mo" alt="avatar">
                                    </div>
                                    <div class="text">
                                        <h2>Phim Hoạt Hình Ma Pháp | Toàn Chức Pháp Sư mùa 1 - Tập 12 (Vietsub)</h2>
                                        <span class="verified">VTC Now</span><br>
                                        <span>310.942 lượt xem • Đã công chiếu vào 13 thg 10, 2019</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/L--JXW7Edk4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="content">
                                    <div class="icon-avatar">
                                        <img src="https://yt3.ggpht.com/a/AATXAJzOQI9FyOS069x_r-VXpjTaaQXkzvRl-pSJFQ=s88-c-k-c0xffffffff-no-rj-mo" alt="avatar">
                                    </div>
                                    <div class="text">
                                        <h2>Nhạc Phim Remix 2020 - Quái Thú Kí Sinh 2 - Venom 2\LK Nhạc Trẻ Hay Nhất 2020</h2>
                                        <span class="verified">SML DJ - Nhạc Phim Remix</span><br>
                                        <span>640.695 lượt xem • Đã công chiếu vào 24 thg 4, 2020</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/0SJE9dYdpps" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="content">
                                    <div class="icon-avatar">
                                        <img src="https://yt3.ggpht.com/a/AATXAJwf6T7j6slQZP3nU_cz50LMNG33anEZ9bBKFw=s88-c-k-c0xffffffff-no-rj-mo" alt="avatar">
                                    </div>
                                    <div class="text">
                                        <h2>Javascript có thể làm được gì?</h2>
                                        <span class="verified">F8 Official</span><br>
                                        <span>6.303 lượt xem • Đã công chiếu vào 28 thg 5, 2020</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/knWwsGGGPCc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="content">
                                    <div class="icon-avatar">
                                        <img src="https://yt3.ggpht.com/a/AATXAJxIJtuSdnVzDhjqtW_-pBcSmlywSv-VfacxeA=s88-c-k-c0xffffffff-no-rj-mo" alt="avatar">
                                    </div>
                                    <div class="text">
                                        <h2>Top 10 quái thú yugioh khó triệu hồi nhất | M2DA | #yugioh #m2duelchannel #m2da</h2>
                                        <span class="verified">M2 DUEL CHANNEL</span><br>
                                        <span>1.316.398 lượt xem • Đã công chiếu vào 19 thg 9, 2018</span>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <hr class="space" style="width:100%; margin-bottom: 20px;">

                        <div class="section-covid">
                            <h4>Tin tức về COVID-19</h4>
                            <div class="row Range">
                                <div class="col-md-3">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/GA3vQRuZCOU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="content">
                                        <div class="icon-avatar">
                                            <img src="https://yt3.ggpht.com/a/AATXAJzZaw2Grz5hEzxECcfhg_9yuQFRKzSnAiESwA=s88-c-k-c0xffffffff-no-rj-mo" alt="avatar">
                                        </div>
                                        <div class="text">
                                            <h2>Tin tức dịch bệnh corona ( Covid-19 ) sáng 29/5 Tin tổng hợp virus corona Việt Nam đại dịch Vũ Hán</h2>
                                            <span class="verified">TIN TỨC 24H ONLINE</span><br>
                                            <span>416.398 lượt xem • Đã công chiếu vào 29 thg 5, 2020</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/_TaF7LYwwXc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="content">
                                        <div class="icon-avatar">
                                            <img src="https://yt3.ggpht.com/a/AATXAJwo4Um8h7Jwp4xRliLDA5A7V9-_9EuIzqaxXg=s88-c-k-c0xffffffff-no-rj-mo" alt="avatar">
                                        </div>
                                        <div class="text">
                                            <h2>Virus corona tổng hợp tối 28/5: Mỹ vượt mốc 100.000 ca tử vong, ngành hàng không lao đao vì Covid-19</h2>
                                            <span class="verified">Báo Thanh Niên</span><br>
                                            <span>170.321 lượt xem • Đã công chiếu vào 29 thg 5, 2020</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/494Ttt9_EUI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="content">
                                        <div class="icon-avatar">
                                            <img src="https://yt3.ggpht.com/a/AATXAJzttb4CXyBqO4t0fQ9o9PMF_LNjkCiK_TnifA=s88-c-k-c0xffffffff-no-rj-mo" alt="avatar">
                                        </div>
                                        <div class="text">
                                            <h2>Tin tổng hợp dịch do virus Corona (Covid-19) sáng 28/5 | VTC Now</h2>
                                            <span class="verified">VTC NOW</span><br>
                                            <span>382.238 lượt xem • Đã công chiếu vào 28 thg 5, 2020</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/gqdins6TFtU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="content">
                                        <div class="icon-avatar">
                                            <img src="https://yt3.ggpht.com/a/AATXAJzttb4CXyBqO4t0fQ9o9PMF_LNjkCiK_TnifA=s88-c-k-c0xffffffff-no-rj-mo" alt="avatar">
                                        </div>
                                        <div class="text">
                                            <h2>Covid-19 thế giới ngày 29/5: Số ca nhiễm virus Corona tiến sát mốc 6 triệu người | VTC Now</h2>
                                            <span class="verified">VTC Now</span><br>
                                            <span>31.885 lượt xem • Đã công chiếu vào 29 thg 5, 2020</span>
                                        </div>
                                    </div>
                                </div>

                                <hr class="space" style="width:100%;">

                                <div class="row Range">
                                    <% for (let i = 0; i < result.length; i++) {%>
                                        <div class="col-md-3">
                                            <iframe width="560" height="315" src="<%=result[i].link %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            <div class="content">
                                                <div class="icon-avatar">
                                                    <img src="<%=result[i].img %>" alt="avatar">
                                                </div>
                                                <div class="text">
                                                    <h2>
                                                        <%=result[i].title %>
                                                    </h2>
                                                    <span class="verified"><%=result[i].chanel %></span><br>
                                                    <span><%=result[i].view %></span>
                                                </div>
                                            </div>
                                        </div>
                                        <%}%>
                                </div>
                            </div>
                        </div>
                    </div>
        </section>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js"></script>
</body>

</html>